
<div class="container">

    <app-header currTab="STEP2"></app-header>
    <div class="row sbirow">
        <div class="col-md-3">
            <label>Branch Type:</label>
        </div>
        <div class="col-md-4">
            <label class="sbilabel">Cash Link Branch</label>
            <input type="radio" [(ngModel)]="brtype" value="cashLink" (change)="branch=null" />
        </div>
        <div class="col-md-4">
            <label class="sbilabel">Owner Branch</label>
            <input type="radio" [(ngModel)]="brtype" value="owner" (change)="branch=null"/>
        </div>
    </div>

    <div class="row sbirow">
        <div class="col-md-3 form-group"></div>
        <div class="col-md-4">
            <label class="sbilabel">Select Cash Link Branch:</label>                
            <select [(ngModel)]="branch" (change)="updateATMs()" class="sbiselect form-control" [disabled]="brtype!='cashLink'">
                <option value="null" disabled>-- Select One --</option>
                <option *ngFor="let branchin of cashbranchList" [ngValue]="branchin">{{branchin.branchId + '-' + branchin.branchName}}</option>
            </select>
        </div>

        <div class="col-md-4">
            <label class="sbilabel">Select Owner Branch:</label>                
            <select [(ngModel)]="branch" (change)="updateATMs()" class="sbiselect form-control" [disabled]="brtype!='owner'">
                <option value="null" disabled >-- Select One --</option>
                <option *ngFor="let branchin of ownerbranchList" [ngValue]="branchin">{{branchin.branchId + '-' + branchin.branchName}}</option>
            </select>
        </div>
    </div>

    <div class="row sbirow">
        <div class="col-md-5">
            <label class="sbilabel">Select ATM:</label>                
            <select [(ngModel)]="atmSeln" class="sbiselect form-control" (change)=updateATMData()>
                <option value="null" disabled >-- Select One --</option>
                <option *ngFor="let branchin of atmList" [ngValue]="branchin">{{branchin.atmId}}</option>
            </select>
        </div>
        <div class="col-md-3">
                <label class="sbilabel">ATM Type</label>
                <input type="text" [(ngModel)]="atmSel.atmType" class="sbitxt form-control">
            </div>    
    </div>
        
    <div class="row sbirow col-md-12">            
        <div id="row2Sel3" class="col-md-3">
            <label class="sbilabel">Site Type</label>
            <select [(ngModel)]="atmSel.siteType" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>
                <option *ngFor="let site of siteList" [ngValue]="site">{{site}}</option>
            </select>
        </div>
        <div id="row2Sel3" class="col-md-3">
            <label class="sbilabel">Ownership Type</label>
            <select [(ngModel)]="atmSel.ownershipType" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let ownership of ownershipTypeList" [ngValue]="ownership">{{ownership}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="sbilabel">N/W Type</label>
            <select [(ngModel)]="atmSel.networkType" class="sbiselect form-control"> 
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let nwType of nwTypeList" [ngValue]="nwType">{{nwType}}</option>
            </select>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-3">
            <label class="sbilabel">Oem</label>
            <select [(ngModel)]="atmSel.oem" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let oemIn of oemList" [ngValue]="oemIn">{{oemIn}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="sbilabel">Model</label>
            <select [(ngModel)]="atmSel.model" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let modeln of modelList" [ngValue]="modeln">{{modeln}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="sbilabel">MS Vendor</label>
            <select [(ngModel)]="atmSel.msVendor" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let msVendor of msVendorList" [ngValue]="msVendor">{{msVendor}}</option>
            </select>
        </div>        
    </div>

    <div class="row col-md-12">
        <div class="col-md-3">
            <label class="sbilabel">Cash Replenishment</label>
            <select [(ngModel)]="atmSel.cashRepl" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let oemIn of cashRepList" [ngValue]="oemIn">{{oemIn}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="sbilabel">Phase</label>
            <select [(ngModel)]="atmSel.phase" class="sbiselect form-control">
                <option value="null" disabled >-- Select One --</option>            
                <option *ngFor="let modeln of phaseList" [ngValue]="modeln">{{modeln}}</option>
            </select>
        </div>
    </div>
        
    <div class="row sbirow">
        <fieldset class="sbifieldset col-md-12">
            <legend>ATM Info</legend>
            <div class="row">
                <label class="col-md-2" style="margin-top: .25em; text-align: right;">PIN CODE:</label>
                <input *ngIf="branch" class="col-md-2 form-control" type="text" [(ngModel)]="branch.branchPinCode" placeholder="Enter Pincode">
            </div>
            <div class="row sbirow">
                <div class="col-md-10">
                    <textarea style="width:100%"></textarea>
                </div>
            </div>

            <div class="row sbirow">
                <div class="col-md-3">
                    <label>Landmark:</label>
                    <input class="sbitxt form-control" type="text" [(ngModel)]="atmSel.landmark">

                    <label>TMK Available with Branch:</label>
                    <select class="sbiselect form-control">
                        <option>Y</option>
                        <option>N</option>
                    </select>
                                
                </div>

                <div class="col-md-4">
                    <fieldset class="sbifieldset col-md-12">
                        <legend>BASE24 Switch</legend>
                        <div class="form-group">
                            <label>DNS:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.hostDNS">

                            <label>Port:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.hostDNS">

                            <label>PrefDNS:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.hostPreDNS">

                            <label>AltDNS:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.hostPreDNS">
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4">
                    <fieldset class="sbifieldset col-md-12">
                        <legend>ATM IP</legend>
                        <div class="form-group">
                            <label>IP Address:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.ipAddress">

                            <label>Subnet:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.subnet">

                            <label>Gateway IP:</label>
                            <input class="sbitxt form-control" type="text" [(ngModel)]="atmNetwork.defaultGateway">
                        </div>
                    </fieldset>

                    <label>TMK Checksum:</label>
                    <input class="form-control" type="text" [(ngModel)]="atmAuxInfo.tmkChecksum">
                </div>
            </div>
        </fieldset>
    </div>
                
    <div class="sbirow">
        <div>
            <button type="button" class="btn btn-info">Previous</button>
            <button type="button" class="btn btn-info" style="float:right" (click)="nextPage()" [disabled]="branch == null">Next</button>
        </div>
    </div>
</div>
