
<div class="row" >
    
     <h3 class="dashboard-heading">MVS Data Collection</h3> 
</div>
<ul class="nav nav-tabs nav-pills nav-justified" >
    <li class="nav-item" ><span class="nav-link" [ngClass]="{'active' : currTab == 'STEP1'}" href="#">STEP1</span></li>
    <li class="nav-item" ><span class="nav-link" [ngClass]="{'active' : currTab == 'STEP2'}" href="#">STEP2</span></li>
    <li class="nav-item" ><span class="nav-link" [ngClass]="{'active' : currTab == 'STEP3'}" href="#">STEP3</span></li>
    <li class="nav-item" ><span class="nav-link" [ngClass]="{'active' : currTab == 'STEP4'}" href="#">STEP4</span></li>
</ul>
