<div class="container" >
    <app-header currTab="STEP3"></app-header>
  <div class="row sbirow">
      <div class="col-md-4 form-group">
          <label class="col-md-6">Branch</label>
          <input class="form-control" type="text" [(ngModel)]="branchObj.branchName" >
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">ATM</label>
          <input class="form-control" type="text" [(ngModel)]="atmObj.atmId" disabled>
      </div>
  </div>

  <div class="row sbirow" >      
    <label class="col-md-2 searchLabel">Branch Manager: </label>
    <input class="form-control col-md-6" type="text" [(ngModel)]="branchManager" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt">
  </div>

  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.pfId + ' - ' + r.name" [term]="t"></ngb-highlight>
  </ng-template>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">PF ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.pfId" disabled>
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Name:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.name" disabled>
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Phone:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.mobileNumber" disabled>
      </div>
  </div>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.emailIdOfficial" disabled>
      </div>
      <div class="col-md-6 form-group">
          <label class="col-md-6">Designated Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.emailIdDesignated" disabled>
      </div>
  </div>

  <div class="row sbirow" >      
    <label class="col-md-2 searchLabel">ATM Officer: </label>
    <input class="form-control col-md-6" type="text" [(ngModel)]="atmOfficer" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt">
  </div>
        
  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">PF ID:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.pfId" disabled>
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Name:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.name" disabled>
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Phone:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.mobileNumber" disabled>
      </div>
  </div>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.emailIdOfficial" disabled>
      </div>
  </div>

  <div class="row sbirow">
    <div class="col-md-4 form-group">
      <label class="sbilabel">Select ATMs at Site</label>
      <select name="cnt" class="sbiselect form-control">
            <option *ngFor="let n of [1,2,4]" [ngValue]="n">{{n}}</option>
      </select>
    </div>
    <div class="col-md-4">
        <label class="sbilabel">Target Date</label>
        <!-- <div class="form-group"> -->
        <div class="input-group">
        <input class="form-control" [(ngModel)]="atmAuxInfo.targetDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>    
        </div>
        <!-- </div> -->
    </div>
  </div>

  <label class="col-md-6" style="color:blue">Auxiliary Info</label>  
  <div class="row sbirow">
    <div class="col-md-2">
      <label class="sbilabel">Caretaker</label>      
      <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField1">
    </div>
    <div class="col-md-2">
    <label class="sbilabel">ADA/Braile</label>      
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField2">
    </div>
    <div class="col-md-2">
    <label class="sbilabel">e-Surveillance</label>      
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField3">
    </div>
    <div class="col-md-2">
    <label class="sbilabel">e-Corner</label>      
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField4">
    </div>
    <div class="col-md-2">
    <label class="sbilabel">Cash Outsourced</label>      
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField5">
    </div>
          
  </div>


  <div class="sbirow">
      <div>
          <button type="button" class="btn btn-info" (click)="prevPage()">Previous</button>
          <button type="button" class="btn btn-info" style="float:right" (click)="nextPage()">Next</button>
      </div>
  </div>

  <br>  
</div>
    