<div class="container  container-wrap" >
    <app-header currTab="STEP3"></app-header>
  <div class="row sbirow">
      <div class="col-md-6 form-group">
          <label >Branch</label>
          <input class="form-control" type="text" [(ngModel)]="branchObj.branchName" disabled>
      </div>
      <div class="col-md-6 form-group">
          <label>ATM</label>
          <input class="form-control" type="text" [(ngModel)]="atmObj.atmId" disabled>
      </div>
  </div>

    <div class="row sbirow" > 
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-md-12 searchLabel" style="text-align:center;">Branch Manager: </label>
                        <!-- <input class="form-control col-md-6" type="text" [(ngModel)]="branchManager" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt"> -->
                    </div>

                    <ng-template #mgr let-r="result" let-t="term">
                        <ngb-highlight [result]="r.pfId + ' - ' + r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                   
                    <div class="row sbirow" >                        
                        <label class="col-md-4">PF ID:</label>
                        <input class="col-md-6 form-control" type="text" [(ngModel)]="branchManager" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="mgr">
                    </div>  
                    <div class="row sbirow" >  
                        
                            <label class="col-md-4">Name:</label>
                            <input class="col-md-6 form-control" type="text" [(ngModel)]="branchManager.name" disabled>
                        
                    </div>  
                    <div class="row sbirow" >      
                       
                            <label class="col-md-4">Phone:</label>
                            <input class="col-md-6 form-control" type="text" [(ngModel)]="branchManager.mobileNumber" disabled>
                      
                    </div>
                      <div class="row sbirow">
                        <label class="col-md-4">Email ID:</label>
                        <input class="col-md-6 form-control" type="text" [(ngModel)]="branchManager.emailIdOfficial" disabled>
                    </div>
                    <div class="row sbirow">
                        <label class="col-md-4">Designated Email ID:</label>
                        <input class="col-md-6 form-control" type="text" [(ngModel)]="branchManager.emailIdDesignated" disabled>
                    </div>
                </div>
            </div>     
        </div>  
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                     <div class="row " >      
    <label class="col-md-12 searchLabel" style="text-align:center;">ATM Officer: </label>
  </div>
        
  
      <div class="row sbirow">
          <label class="col-md-4">PF ID:</label>
          <input class="col-md-6 form-control" type="text" [(ngModel)]="atmOfficer" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="mgr">          
      </div>
      <div class="row sbirow">
          <label class="col-md-4">Name:</label>
          <input class="col-md-6 form-control" type="text" [(ngModel)]="atmOfficer.name" disabled>
      </div>
      <div class="row sbirow">
          <label class="col-md-4">Phone:</label>
          <input class="col-md-6 form-control" type="text" [(ngModel)]="atmOfficer.mobileNumber" disabled>
      </div>
       <div class="row sbirow">
          <label class="col-md-4">Email ID:</label>
          <input class="col-md-6 form-control" type="text" [(ngModel)]="atmOfficer.emailIdOfficial" disabled>
      </div>
       <div class="row sbirow">
            <label class="col-md-4">Designated Email ID:</label>
            <input class="col-md-6 form-control" type="text" [(ngModel)]="atmOfficer.emailIdDesignated" disabled>
        </div>
 


                </div>
            </div>     
        </div>    
    </div>    

  

 


 
 
  

  <div class="row sbirow">
    <div class="col-md-6 form-group">
      <label class="sbilabel">Select ATMs at Site</label>
      <select [(ngModel)]="atmNetwork.atmSite" class="sbiselect form-control">
            <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="n">{{n}}</option>
      </select>
    </div>
    <div class="col-md-6">
        <label class="sbilabel">Target Date</label>
        <!-- <div class="form-group"> -->
        <div class="input-group">
        <input class="form-control" [(ngModel)]="atmAuxInfo.targetDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
        </button>
        </div>    
        </div>
        <!-- </div> -->
    </div>
  </div>

<div class="card">
                <div class="card-body">
  <label class="searchLabel" >Auxiliary Info</label>  
  <div class="row ">
    <div class="col-md-2">
           
      <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField1">
      <label class="auxlabel">Caretaker</label> 
    </div>
    <div class="col-md-2">
     
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField2">
     <label class="auxlabel">ADA/Braile</label>    
    </div>
    <div class="col-md-2">
      
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField3">
    <label class="auxlabel">e-Surveillance</label>    
    </div>
    <div class="col-md-2">
       
    <input type="checkbox" [(ngModel)]="atmAuxInfo.auxField4">
    <label class="auxlabel">e-Corner</label>   
    </div>
          
  </div>
                </div>
</div>

  <div class="sbirow">
      <div>
          <button type="button" class="btn btn-primary" (click)="prevPage()">Previous</button>
          <button type="button" class="btn btn-primary" style="float:right" (click)="nextPage()">Next</button>
      </div>
  </div>

  <div class="row">
    <div class="footer">
      <div class="float-left">
        <label><b>MVS Data Collection</b></label>
      </div>
      <div class="float-right">
        <label>Powered by State Bank of India</label>
      </div>
    
    </div>
  </div>  
</div>
    