<div class="container" >
    <app-header currTab="STEP3"></app-header>
  <div class="row sbirow">
      <div class="col-md-4 form-group">
          <label class="col-md-6">Branch</label>
          <input class="form-control" type="text" [(ngModel)]="branchObj.branchName" >
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">ATM</label>
          <input class="form-control" type="text" [(ngModel)]="atmObj.atmId" disabled>
      </div>
  </div>

  <label class="col-md-6" style="color:blue">Branch Manager</label>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">PF ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.pfId">
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Name:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.name" >
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Phone:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.mobileNumber" >
      </div>
  </div>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.emailIdOfficial" >
      </div>
      <div class="col-md-6 form-group">
          <label class="col-md-6">Designated Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="branchManager.emailIdDesignated" >
      </div>
  </div>

  <label class="col-md-6" style="color:blue">ATM Officer</label>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">PF ID:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.pfId">
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Name:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.name">
      </div>
      <div class="col-md-4 form-group">
          <label class="col-md-6">Phone:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.mobileNumber">
      </div>
  </div>

  <div class="row sbirow" >
      <div class="col-md-4 form-group">
          <label class="col-md-6">Email ID:</label>
          <input class="form-control" type="text" [(ngModel)]="atmOfficer.emailIdOfficial">
      </div>
  </div>

  <div class="row sbirow">
    <div class="col-md-4 form-group">
      <label class="sbilabel">Select ATMs at Site</label>
      <select name="cnt" class="sbiselect form-control">
          <option th:each="n : ${#numbers.sequence(1,53)}" th:value="${n}" th:text="${n}"></option>
      </select>
    </div>
    <div class="col-md-4 form-group">
        <label class="sbilabel">Target Date</label>
        <select name="tgtDate" class="sbiselect form-control">
            <option th:each="n : ${#numbers.sequence(1,53)}" th:value="${n}" th:text="${n}"></option>
        </select>
      </div>
  </div>

  <label class="col-md-6" style="color:blue">Auxiliary Info</label>  
  <div class="row sbirow">
    <div class="col-md-3">
      <label class="sbilabel">Caretaker</label>      
      <input type="checkbox" [(ngModel)]="careTaker">
    </div>
    <div class="col-md-3">
    <label class="sbilabel">ADA/Braile</label>      
    <input type="checkbox" [(ngModel)]="braille">
    </div>
    <div class="col-md-3">
    <label class="sbilabel">e-Surveillance</label>      
    <input type="checkbox" [(ngModel)]="surveillence">
    </div>
    <div class="col-md-3">
    <label class="sbilabel">e-Corner</label>      
    <input type="checkbox" [(ngModel)]="corner">
    </div>
    <div class="col-md-3">
    <label class="sbilabel">Cash Outsourced</label>      
    <input type="checkbox" [(ngModel)]="cashOutSrc">
    </div>
          
  </div>


  <div class="sbirow">
      <div>
          <button type="button" class="btn btn-info">Previous</button>
          <button type="button" class="btn btn-info" style="float:right" (click)="nextPage()">Next</button>
      </div>
  </div>
</div>
    