
<div class="container container-wrap">
    <app-header currTab="STEP1"></app-header>
  <div class="row">
    <div class="col-md-12">
      <h3 class="sub-heading">Group Instructions are as follows</h3>
      <div class="card">
        <div class="card-body">
          <ul>
              <li>STEP2 has ATM Technical Details</li>
              <li>STEP3 has ATM Branch People Details</li>
              <li>STEP4 shows a preview</li>
              <li>Click on Previous and Next buttons to navigate</li>  
          </ul>
        </div>
      </div> 
     
<div class="sbirow">
  <div>
    <button type="button" class="btn btn-primary" style="float:right" (click)="nextPage()" >Next</button>
  </div>
</div>
    </div>
  </div>
   <div class="row">
    <div class="footer">
      <div class="float-left">
        <label><b>MVS Data Collection</b></label>
      </div>
      <div class="float-right">
        <label>Powered by State Bank of India</label>
      </div>
    
    </div>
  </div>
</div>      
