<div class="container " id="dashboard">
  <div class="row">
    <div class="col-md-12">
      <h3 class="dashboard-heading">MVS ATM Site Data Collection Progress Dashboard</h3> 
      <table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">LHO</th>
    <th scope="col">Total ATMs</th>
    <th scope="col">Verified ATMs</th>
    <th scope="col">Pending ATMs</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dashboardData; index as i">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  </tbody>
</table>
<div>
  <div class="float-left"><button class="btn btn-primary" (click)="gotoStep()">Go to Step 1</button></div>
  <div class="float-right">
    <button class="btn btn-primary btn-left"  (click)="dataSet()">Data Set</button>
    <button class="btn btn-primary">LHO Data</button>
  </div>
  
</div>


    </div>
  </div>
</div>