<div class="container container-wrap" id="dashboard">
  <div class="row">
    <h3 class="dashboard-heading">MVS Data Collection</h3> 
    <div class="col-md-12">
      
      <table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">LHO</th>
    <th scope="col">Total ATMs</th>
    <th scope="col">Verified ATMs</th>
    <th scope="col">Pending ATMs</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dashboardData; index as i">
      <td>{{data.lho}}</td>
      <td>{{data.totalATM}}</td>
      <td>{{data.verifiedATM}}</td>
      <td>{{data.endingATM}}</td>
  </tr>
  </tbody>
</table>
<div class="btn-wrap">
  <!-- <div class="float-left"><button class="btn btn-primary" (click)="gotoStep()">Go to Step 1</button></div> -->
  <div class="float-right">
    <button class="btn btn-primary btn-left"  (click)="gotoStep()">Data Set</button>
    <button class="btn btn-primary" (click)="lhoData()">LHO Data</button>
  </div>
  
</div>


    </div>
  </div>
  <div class="row">
    <div class="footer">
      <div class="float-left">
        <label><b>MVS Data Collection</b></label>
      </div>
      <div class="float-right">
        <label>Powered by State Bank of India</label>
      </div>
    
    </div>
  </div>
</div>
