/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

label.sbilabel {
    margin-right: 1em;
    vertical-align: middle;
}

select.sbiselect {
    width: 100%;
}

input.sbitxt {
    width: 100%;
}

fieldset.sbifieldset {
    border: 1px groove;
    border-style: dotted;
    padding-bottom: 1em;
}
.dashboard-heading{
    margin-bottom: 10px;
        padding: 20px;
        text-align: center;
}
button.btn-left{margin-right: 20px;}
