<div class="container  container-wrap" >
    <div class="row" >
            <h3 class="dashboard-heading">MVS Site Data Collection</h3> 
    </div>

    <div class="row" > 
        <div class="col-md-12 sbirow">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3 class="col-md-12" style="text-align:center;">LHO Form </h3>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row sbirow" >                        
                                    <div class="col-md-3">
                                        <label class="sbilabel">Select LHO</label>
                                        <select [(ngModel)]="lho" class="sbiselect form-control" (change)="loadNetworks()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let lhoIn of lhoList" [ngValue]="lhoIn">{{lhoIn.lhoName}}</option>
                                        </select>
                                    </div>
                            
                                    <div class="col-md-3">
                                        <label class="sbilabel">Select Network</label>
                                        <select [(ngModel)]="network" class="sbiselect form-control" (change)="loadAGM()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let networkIn of networkList" [ngValue]="networkIn">{{networkIn.networkName}}</option>
                                        </select>
                                    </div>                        
                                </div>  
                                                   
                                <div class="col-md-6 form-group">
                                    <div class="row sbirow">
                                        <label class="col-md-12 searchLabel" style="text-align:left;">AGM-ATM </label>
                                    </div>
                                    
                                    <div class="row sbicloserow" >                        
                                        <label class="col-md-5 sbiLightLabel">PF ID:</label>
                                        <input class="col-md-6 form-control" type="text" [(ngModel)]="agmatmPF"  [ngbTypeahead]="searchHrms" [inputFormatter]="lhoFormatter" [resultTemplate]="lhoppl" (selectItem)="updateLhoPplData($event)">
                                    </div>  
                                    <div class="row sbicloserow" >                      
                                        <label class="col-md-5 sbiLightLabel">Name:</label>
                                        <input class="col-md-6 form-control" type="text" [(ngModel)]="agmatmPF.name" disabled>
                                    </div>  
                                    <div class="row sbicloserow" >      
                                        <label class="col-md-5 sbiLightLabel">Phone:</label>
                                        <input class="col-md-6 form-control" type="text" [(ngModel)]="agmatmPF.mobileNumber" disabled>
                                    </div>
                                    <div class="row sbicloserow">
                                        <label class="col-md-5 sbiLightLabel">Email ID:</label>
                                        <input class="col-md-6 form-control" type="text" [(ngModel)]="agmatmPF.emailIdOfficial" disabled>
                                    </div>
                                    <div class="row sbicloserow">
                                        <label class="col-md-5 sbiLightLabel">Designated Email ID:</label>
                                        <input class="col-md-6 form-control" type="text" [(ngModel)]="agmatmPF.emailIdDesignated" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>                    
                </div>

                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row sbirow" >                        
                                    <div class="col-md-3">
                                        <label class="sbilabel">Select LHO</label>
                                        <select [(ngModel)]="chlho" class="sbiselect form-control" (change)="loadNetworksch()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let lhoIn of lhoList" [ngValue]="lhoIn">{{lhoIn.lhoName}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="sbilabel">Select Network</label>
                                        <select [(ngModel)]="chnetwork" class="sbiselect form-control" (change)="loadModules()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let networkIn of chnetworkList" [ngValue]="networkIn">{{networkIn.networkName}}</option>
                                        </select>
                                    </div>
                            
                                    <div class="col-md-3">
                                        <label class="sbilabel">Select AO/Module</label>
                                        <select [(ngModel)]="module" class="sbiselect form-control" (change)="loadRegions()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let moduleIn of moduleList" [ngValue]="moduleIn">{{moduleIn.moduleName}}</option>
                                        </select>
                                    </div>                        
            
                                    <div class="col-md-3">
                                        <label class="sbilabel">Select Region</label>
                                        <select [(ngModel)]="region" class="sbiselect form-control" (change)="loadPeople()">
                                            <option value="undefined" disabled >-- Select One --</option>            
                                            <option *ngFor="let regionIn of regionList" [ngValue]="regionIn">{{regionIn.regionName}}</option>
                                        </select>
                                    </div>                        
                                </div>  
                                     
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                            
                                        <div class="row sbirow">
                                            <label class="col-md-12 searchLabel" style="text-align:left;">Channel Manager</label>
                                        </div>
                                        
                                        <div class="row sbicloserow" >                        
                                            <label class="col-md-5 sbiLightLabel">PF ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="chMgr"  [ngbTypeahead]="searchHrms" [inputFormatter]="lhoFormatter" [resultTemplate]="lhoppl" (selectItem)="updateLhoPplData($event)">
                                        </div>  
                                        <div class="row sbicloserow" >                      
                                            <label class="col-md-5 sbiLightLabel">Name:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="chMgr.name" disabled>
                                        </div>  
                                        <div class="row sbicloserow" >      
                                            <label class="col-md-5 sbiLightLabel">Phone:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="chMgr.mobileNumber" disabled>
                                        </div>
                                        <div class="row sbicloserow">
                                            <label class="col-md-5 sbiLightLabel">Email ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="chMgr.emailIdOfficial" disabled>
                                        </div>
                                        <div class="row sbicloserow">
                                            <label class="col-md-5 sbiLightLabel">Designated Email ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="chMgr.emailIdDesignated" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                            
                                        <div class="row sbirow">
                                            <label class="col-md-12 searchLabel" style="text-align:left;">CM(CMCS) RBO</label>
                                        </div>
                                        
                                        <div class="row sbicloserow" >                        
                                            <label class="col-md-5 sbiLightLabel">PF ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="cmcsRbo"  [ngbTypeahead]="searchHrms" [inputFormatter]="lhoFormatter" [resultTemplate]="lhoppl" (selectItem)="updateLhoPplData($event)">
                                        </div>  
                                        <div class="row sbicloserow" >                      
                                            <label class="col-md-5 sbiLightLabel">Name:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="cmcsRbo.name" disabled>
                                        </div>  
                                        <div class="row sbicloserow" >      
                                            <label class="col-md-5 sbiLightLabel">Phone:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="cmcsRbo.mobileNumber" disabled>
                                        </div>
                                        <div class="row sbicloserow">
                                            <label class="col-md-5 sbiLightLabel">Email ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="cmcsRbo.emailIdOfficial" disabled>
                                        </div>
                                        <div class="row sbicloserow">
                                            <label class="col-md-5 sbiLightLabel">Designated Email ID:</label>
                                            <input class="col-md-6 form-control" type="text" [(ngModel)]="cmcsRbo.emailIdDesignated" disabled>
                                        </div>

                                    </div>                                

                                </div>
                            </div>                            
                        </div>     
                    </div>                          
                </div>

            </div>     
        </div>  
    </div>  


    <div class="sbirow">
        <div>
            <button type="button" class="btn btn-primary" (click)="prevPage()">Back</button>
            <button type="button" class="btn btn-primary" style="float:right" (click)="submitAlert(content)" >Submit</button>
        </div>
    </div>
        

  <app-footer></app-footer>  
</div>
    
<ng-template #lhoppl let-r="result" let-t="term">
    <ngb-highlight [result]="r.pfId + ' - ' + r.name" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Data Update Alert!</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to Submit?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Cancel')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="submit(spinner)">Submit</button>
    </div>
</ng-template>

<ng-template #spinner let-modal>
    <div class="modal-body">
        <div class="spinner-border spinner-border-lg text-warning"></div>
        <div class="spinner-grow spinner-grow-lg text-warning"></div>
    </div>
</ng-template>
    